.header {
  text-align: center;

  .contact-details > * {
    margin-right: 1rem;
  }
  .hero {
    margin-top: 1rem;
  }
  #menu {
    display: flex;
    justify-content: center;
    color: red;
    ul {
      margin-block-start: 0px;
    }
    li {
      list-style-type: none;
      margin-left: 1rem;
    }
    li:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
